<nav class="sidebar" style="background-color: #313131 ;;">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('index') }}" style="color: antiquewhite">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bookings') }}" style="color: antiquewhite;">Bookings</a>
            </li>
            <!-- Additional navigation items -->
        </ul>
    </div>
</nav>
